TranslateEXGallery/SAMPLES/\[Miwerjooggetser] Yelan Nama Onaho-ka (Genshin Impact) \[Chinese]-translatedENG.zip
TranslateEXGallery/SAMPLES/\[Miwerjooggetser] Yelan Nama Onaho-ka (Genshin Impact) \[Chinese].zip
*.zip
*.cbz
